
@{
    ViewData["Title"] = "Reflection";
}

<h2>Reflection</h2>
<hr />

<div>
    <p>
        This page serves as the source of our knowledge and what we did when determining our stocks and how to pick and order them accordingly.
        Below, you will find our methodology for stock selection, as well as individual team member self-reflections on the assignment itself.
        <br />
    </p>
    <h3>Methodology</h3>
    <hr />
    <p>
        //*Write Here*
    </p>
    <br />
    <h3>Self-Reflection</h3>
    <hr />
    <p>
        Maxim Kazanov:
        <br />
        //*Write Here*
    </p>
    <br />
    <p>
        Haritha Diraneyya:
        <br />
        //*Write Here*
    </p>
    <br />
    <p>
        Matthew Matos:
        <br />
        //*Write Here*
    </p>
</div>


