@model IEXTrading.Models.ViewModel.CompaniesEquities

@{
    ViewData["Title"] = "Top Stocks";
}

<h2>Top Stocks</h2>
<hr />

<p>
    Below is a list of the top 5 stocks to both buy and sell:
</p>
<br />
<br />
<h3>Top Buy Stocks</h3>
<hr />
<table>
    <thead>
        <tr>
            <th>
                Symbol
            </th>
            <th>
                Name
            </th>
            <th>
                Close
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Placeholder
            </td>
            <td>
                Placeholder
            </td>
            <td>
                Placeholder
            </td>
        </tr>
        <tr>
            <td>
                Placeholder
            </td>
            <td>
                Placeholder
            </td>
            <td>
                Placeholder
            </td>
        </tr>
        <tr>
            <td>
                Placeholder
            </td>
            <td>
                Placeholder
            </td>
            <td>
                Placeholder
            </td>
        </tr>
        <tr>
            <td>
                Placeholder
            </td>
            <td>
                Placeholder
            </td>
            <td>
                Placeholder
            </td>
        </tr>
        <tr>
            <td>
                Placeholder
            </td>
            <td>
                Placeholder
            </td>
            <td>
                Placeholder
            </td>
        </tr>
    </tbody>
</table>
<br />
<br />
<h3>Top Sell Stocks</h3>
<hr />
<table>
    <thead>
        <tr>
            <th>
                Symbol
            </th>
            <th>
                Name
            </th>
            <th>
                Close
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Placeholder
            </td>
            <td>
                Placeholder
            </td>
            <td>
                Placeholder
            </td>
        </tr>
        <tr>
            <td>
                Placeholder
            </td>
            <td>
                Placeholder
            </td>
            <td>
                Placeholder
            </td>
        </tr>
        <tr>
            <td>
                Placeholder
            </td>
            <td>
                Placeholder
            </td>
            <td>
                Placeholder
            </td>
        </tr>
        <tr>
            <td>
                Placeholder
            </td>
            <td>
                Placeholder
            </td>
            <td>
                Placeholder
            </td>
        </tr>
        <tr>
            <td>
                Placeholder
            </td>
            <td>
                Placeholder
            </td>
            <td>
                Placeholder
            </td>
        </tr>
    </tbody>
</table>
